| div.main
.container-fluid.text-center.text-white.headerset(style="background-image: url('static/images/bg2.avif');width=100%;height:560px;background-repeat:no-repeat;background-size:cover;background-position: center; ")
  h1 #{headdata.head1}
  h2 #{headdata.head2}
  button.btn.btn-warning.text-center.text-white.btn-large #{headdata.btnName}
